body, html {
    background: white; 
    height: 100%; 
    margin: 0px;
}

@font-face {
    font-family: swansbold;
    src: url(fonts/SwanseaBold-D0ox.ttf);
}

@font-face {
    font-family: ccc;
    src: url(fonts/CinnamonCoffeCake-Ea2Pr.ttf);
}

@font-face {
    font-family: EightBitArcade;
    src: url(fonts/8bitArcadeIn.ttf);
}

.header-footer-text {
    width: 100%;
    height: 200px;
    background: rgb(20, 44, 36);
    color: rgb(131, 193, 155);
    line-height: 200px;
    z-index: 200;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.info-box {
    margin:auto;
    margin-top: 5.5%;
    width: 70%;
    height: 400px;
    background: white;
    border-radius: 10px;
    color: black;
    padding: 30px;
    font-size: 20px;
    transition: 0.2s linear;
    font-family: ccc;
}

.info-box img {
    width: 30%;
    height: 70%;
    margin: auto;
    user-select: none;
}

.info-box p {
    width: 65%;
    margin: auto;
}

.info-box:hover {
    transition: linear 0.2s;
    background: rgb(20, 44, 36);
    color: rgb(131, 193, 155);
    z-index: 100;
    box-shadow: 0 10px 0 0 rgb(131, 193, 155);
}

.info-box-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 30px;
}

.game-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgb(131, 193, 155);
    font-family: ccc;
    border: 0;
    color: rgb(20, 44, 36);
    font-size: 30px;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgb(22, 121, 60);
    transition: 0.1s;
}

.game-button:active {
    box-shadow: 0 0 0 0;
    transform: translate(3px, 3px);
}

.nav-button {
    height: 50px;
    font-family: ccc;
    font-size: 30px;
    cursor: pointer;
    transition: 0.1s;
    margin: auto;
}

.nav-button:hover {
    color:rgb(22, 121, 60);
    box-shadow: 0 10px 0 0  rgb(22, 121, 60);

}
